#logo {
    margin: auto;
    display: block;
}
body {
    background-color: rgb(124, 194, 235);
}
.Chat {
    text-align:center;
    border: 3px solid black;
    height: 500px;
    width: 400px;
    margin: auto;
    display: block;
    overflow-y: auto;
    font-family: cursive;
    border-radius: 10px;
}
.sent {
    float: left;
    clear: both;
    font-size: 20px;
}
.received {
    float: right;
    clear: both;
    font-size: 20px;
}
#form {
    text-align: center;
    margin: auto;
    display: block;
    margin: 10px;
    height: 10px;
}
#inp {
    width: 350px;
}
#send {
    cursor: pointer;
}